<div class="grid grid-flow-col grid-cols-3 h-player-h p-4">
  <div class="col-span-1 flex flex-row items-center">
    <img [src]="url" alt="track image" class="w-14 h-14" />
    <div class="flex flex-col space-y-1 ml-4">
      <p class="capitalize hover:underline text-sm">Easy on me</p>
      <p class="capitalize hover:underline text-xs text-spotify-gray">Adele</p>
    </div>
    <div class="ml-8">
      <button *ngIf="!favorite" (click)="addToFavorite()">
        <app-icon variant="heart"></app-icon>
      </button>
      <button *ngIf="favorite" (click)="removeFromFavorite()">
        <app-icon variant="heart-green"></app-icon>
      </button>
    </div>
  </div>
  <div class="col-span-1 text-spotify-gray flex flex-col space-y-2">
    <div class="flex flex-row items-center space-x-5 justify-center">
      <button><app-icon variant="shuffle"></app-icon></button>
      <button><app-icon variant="skip-back"></app-icon></button>
      <button
        *ngIf="!playing"
        (click)="play()"
        class="bg-white p-2 rounded-full"
      >
        <app-icon variant="play-dark"></app-icon>
      </button>
      <button
        *ngIf="playing"
        (click)="pause()"
        class="bg-white p-2 rounded-full"
      >
        <app-icon variant="pause"></app-icon>
      </button>
      <button><app-icon variant="skip-forward"></app-icon></button>
      <button><app-icon variant="repeat"></app-icon></button>
    </div>
    <div class="flex flex-row items-center space-x-2 text-xs">
      <p>1:28</p>
      <input
        type="range"
        id="track-time"
        name="track-time"
        min="0"
        max="100"
        value="20"
        class="audio-slider"
        (input)="handleInputChange($event)"
      />
      <p>2:37</p>
    </div>
  </div>
  <div class="w-full flex flex-row justify-end">
    <div class="col-span-1 flex flex-row items-center space-x-2 w-1/4">
      <button *ngIf="!muted" (click)="mute()">
        <app-icon variant="volume"></app-icon>
      </button>
      <button *ngIf="muted" (click)="unMute()">
        <app-icon variant="mute"></app-icon>
      </button>
      <input
        type="range"
        id="volume-level"
        name="track-time"
        min="0"
        max="100"
        value="20"
        class="volume-slider"
        (input)="handleInputChange($event)"
      />
    </div>
  </div>
</div>
