<div class="grid grid-flow-col grid-cols-3 h-player-h p-4">
  <div class="col-span-1 flex flex-row items-center">
    <img [src]="url" alt="track image" class="w-14 h-14" />
    <div class="flex flex-col space-y-1 ml-4">
      <p class="capitalize hover:underline text-sm">Easy on me</p>
      <p class="capitalize hover:underline text-xs text-spotify-gray">Adele</p>
    </div>
    <svg
      *ngIf="!favorite"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="stroke-spotify-gray hover:stroke-white ml-8"
      (click)="addToFavorite()"
    >
      <path
        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
      ></path>
    </svg>
    <svg
      *ngIf="favorite"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="#1DB954"
      stroke="#1DB954"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="ml-8"
      (click)="removeFromFavorite()"
    >
      <path
        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
      ></path>
    </svg>
  </div>
  <div class="col-span-1 text-spotify-gray flex flex-col space-y-2">
    <div class="flex flex-row items-center space-x-5 justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-spotify-gray hover:stroke-white"
      >
        <polyline points="16 3 21 3 21 8"></polyline>
        <line x1="4" y1="20" x2="21" y2="3"></line>
        <polyline points="21 16 21 21 16 21"></polyline>
        <line x1="15" y1="15" x2="21" y2="21"></line>
        <line x1="4" y1="4" x2="9" y2="9"></line>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-spotify-gray hover:stroke-white fill-spotify-gray hover:fill-white"
      >
        <polygon points="19 20 9 12 19 4 19 20"></polygon>
        <line x1="5" y1="19" x2="5" y2="5"></line>
      </svg>
      <div class="bg-white p-2 rounded-full">
        <svg
          *ngIf="!playing"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="#000"
          stroke="#000"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class=""
          (click)="Play()"
        >
          <polygon points="5 3 19 12 5 21 5 3"></polygon>
        </svg>
        <svg
          *ngIf="playing"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="#000"
          stroke="#000"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class=""
          (click)="Pause()"
        >
          <rect x="6" y="4" width="4" height="16"></rect>
          <rect x="14" y="4" width="4" height="16"></rect>
        </svg>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-spotify-gray hover:stroke-white fill-spotify-gray hover:fill-white"
      >
        <polygon points="5 4 15 12 5 20 5 4"></polygon>
        <line x1="19" y1="5" x2="19" y2="19"></line>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-spotify-gray hover:stroke-white"
      >
        <polyline points="17 1 21 5 17 9"></polyline>
        <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
        <polyline points="7 23 3 19 7 15"></polyline>
        <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
      </svg>
    </div>
    <div class="flex flex-row items-center space-x-2 text-xs">
      <p>1:28</p>
      <input
        type="range"
        id="track-time"
        name="track-time"
        min="0"
        max="100"
        value="20"
        class="audio-slider"
        (input)="handleInputChange($event)"
      />
      <p>2:37</p>
    </div>
  </div>
  <div class="w-full flex flex-row justify-end">
    <div class="col-span-1 flex flex-row items-center space-x-2 w-1/4">
      <svg
        *ngIf="!muted"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-spotify-gray hover:stroke-white"
        (click)="mute()"
      >
        <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
        <path
          d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"
        ></path>
      </svg>
      <svg
        *ngIf="muted"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-spotify-gray hover:stroke-white"
        (click)="unMute()"
      >
        <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
        <line x1="23" y1="9" x2="17" y2="15"></line>
        <line x1="17" y1="9" x2="23" y2="15"></line>
      </svg>
      <input
        type="range"
        id="volume-level"
        name="track-time"
        min="0"
        max="100"
        value="20"
        class="volume-slider"
        (input)="handleInputChange($event)"
      />
    </div>
  </div>
</div>
