<div
  class="w-full flex flex-row items-center py-2 px-4 bg-white space-x-4 rounded-3xl"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="28"
    height="28"
    viewBox="0 0 24 24"
    fill="none"
    stroke="#000"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-search"
  >
    <circle cx="11" cy="11" r="8"></circle>
    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
  </svg>
  <input
    type="search"
    name="search"
    id="search"
    placeholder="What do you want to listen to?"
    class="outline-none border-none w-full  placeholder:text-gray-500"
  />
</div>
