<header
  class="h-16 top-0 left-0 right-0 sticky py-3 flex flex-row items-center px-8 justify-between bg-inherit z-50"
  id="header"
>
  <div class="w-1/3 flex flex-row items-center space-x-5">
    <button class="b rounded-full">
      <app-icon variant="chevron-left"></app-icon>
    </button>
    <button class="bg-black rounded-full">
      <app-icon variant="chevron-right"></app-icon>
    </button>
    <div class="w-full">
      <app-search></app-search>
    </div>
  </div>
  <app-user></app-user>
</header>
<div class="pt-11 px-8">
  <h1 class="text-2xl text-white font-semibold tracking-tight mb-5" id="title">
    Browse all
  </h1>
  <div class=" flex flex-row flex-wrap gap-5">
    <app-card
      variant="category"
      [category]="category"
      *ngFor="let category of categories"
    ></app-card>
  </div>
</div>
