<div>
  <div #scrollTo>
    <app-card
      variant="artistDetail"
      [artistDetails]="artist"
      *ngIf="artist"
    ></app-card>
  </div>
  <div>
    <section class="mt-10 mx-8" *ngIf="topTracks.length !== 0">
      <h1 class="text-white text-2xl font-semibold">Popular</h1>
      <div class="flex flex-col mt-6 w-3/4 ml-2">
        <app-track
          variant="onPopular"
          [track]="track"
          [index]="i + 1"
          *ngFor="let track of topTracks; let i = index"
        ></app-track>
      </div>
    </section>
    <section class="mt-9 mx-8" *ngIf="albums.length !== 0">
      <h1 class="text-white text-2xl font-semibold">Albums</h1>
      <div class="flex flex-row gap-5 overflow-x-hidden mt-6">
        <app-card
          variant="album"
          [album]="album"
          (clickEvent)="navigateToAlbumPage($event)"
          *ngFor="let album of albums"
        ></app-card>
      </div>
    </section>
    <section class="mt-9 mx-8" *ngIf="relatedArtists.length !== 0">
      <h1 class="text-white text-2xl font-semibold">Fans also like</h1>
      <div class="flex flex-row gap-5 overflow-x-hidden mt-6">
        <app-card
          variant="artist"
          [artist]="artist"
          *ngFor="let artist of relatedArtists"
          (clickEvent)="navigateToArtistPage($event)"
        ></app-card>
      </div>
    </section>
  </div>
</div>
