<div>
  <section #scrollTo *ngIf="album">
    <app-card variant="albumDetail" [album]="album" ></app-card>
  </section>

  <section *ngIf="albumTracks" class="pt-8 px-8">
    <div
      class="flex flex-row items-center justify-between text-spotify-gray pl-3 pr-16 pb-2 border-b-[0.1px] border-b-bg-border mb-2"
    >
      <div class="flex flex-row space-x-5 items-center">
        <app-icon variant="hashTag"></app-icon>
        <p class="text-sm">TITLE</p>
      </div>
      <app-icon variant="clock"></app-icon>
    </div>
    <app-track
      variant="onAlbum"
      [track]="track"
      [index]="i + 1"
      *ngFor="let track of albumTracks; let i = index"
    ></app-track>
  </section>

  <section class="mt-9 mx-8" *ngIf="artistAlbums.length !== 0 && artist">
    <h1 class="text-white text-2xl font-semibold">
      More albums by {{ artist.name }}
    </h1>
    <div class="flex flex-row gap-5 overflow-x-hidden mt-6">
      <app-card
        variant="album"
        [album]="album"
        (clickEvent)="navigateToAlbumPage($event)"
        *ngFor="let album of artistAlbums"
      ></app-card>
    </div>
  </section>
</div>
