<div>
  <ng-container *ngIf="variant === 'artist'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
      (click)="getItemId(artist.id)"
    >
      <img
        [src]="artist.images[1].url"
        alt="artist image"
        class="w-full h-card-img-h rounded-full"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ artist.name }}
        </p>
        <p class="text-spotify-gray text-sm capitalize">Artist</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'album'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
    >
      <img
        [src]="album.images[1].url"
        alt="album image"
        class="w-full h-card-img-h"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ album.name }}
        </p>
        <p class="text-spotify-gray text-sm">
          <span>{{ album.release_date | date: "YYYY" }} .</span>
          <span class="hover:underline ml-1 capitalize">{{
            album.artists[0].name
          }}</span>
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'playlist'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
    >
      <img
        [src]="playlist.images[0].url"
        alt="playlist image"
        class="w-full h-card-img-h"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ playlist.name }}
        </p>
        <p class="text-spotify-gray truncate text-sm">
          <span>By</span>
          <span class="hover:underline ml-1 capitalize">{{
            playlist.owner.display_name
          }}</span>
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'show'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
    >
      <img
        [src]="show.images[1].url"
        alt="show image"
        class="w-full h-card-img-h"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ show.name }}
        </p>
        <p class="text-spotify-gray truncate text-sm capitalize">
          {{ show.publisher }}
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'episode'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
    >
      <img
        [src]="episode.images[1].url"
        alt="episode image"
        class="w-full h-card-img-h"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ episode.name }}
        </p>
        <p class="text-spotify-gray truncate text-sm">
          <span>{{ episode.release_date | date: "MMM y" }}</span>
          <span class="mx-1">.</span>
          <span class="hover:underline"
            >{{ episode.duration_ms | millisecstoMIns }} Min</span
          >
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'category'">
    <div
      class="w-category-card-w h-category-card-h rounded-md relative overflow-hidden cursor-pointer"
      [ngStyle]="{ 'background-color': bgColor(category.name) }"
    >
      <p class="capitalize text-white px-card-p py-5 font-semibold text-xl">
        {{ category.name }}
      </p>
      <img
        [src]="category.icons[0].url"
        alt="category image"
        class="h-category-img-h w-24 rotate-20 absolute bottom-0 -right-4"
        loading="lazy"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'albumDetail'">
    <div class="h-album-container-h pl-7 relative w-full">
      <div
        class="flex flex-row space-x-album-space-x h-album-img-h text-white absolute bottom-6"
      >
        <img [src]="url" alt="album image" class="h-full w-album-img-w" />
        <div class="flex flex-col relative">
          <p class="text-xs mt-[3.875rem] mb-3">ALBUM</p>
          <h1 class="text-8xl font-semibold capitalize">Tokooos</h1>
          <div
            class="flex flex-row h-6 items-center text-sm space-x-1 absolute bottom-0"
          >
            <img
              [src]="url"
              alt="category image"
              class="w-6 h-full rounded-full"
            />
            <p class="capitalize">Migos .</p>
            <p>2017 .</p>
            <p>18 songs,</p>
            <p>1 hr</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'artistDetail'">
    <div
      class="h-artist-container-h pt-[10.625rem] pl-7 text-white"
      [ngStyle]="{ 'background-image': bgImage }"
    >
      <div class="flex flex-row space-x-4 items-center mb-4">
        <img src="assets/verified.png" alt="verified image" class="w-6 h-6" />
        <p class="text-sm text-gray-50">Verified Artist</p>
      </div>
      <p class="text-8xl" >{{ artist.name }}</p>
    </div>
  </ng-container>
</div>
