<div>
  <ng-container *ngIf="variant === 'artist'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
      (click)="getItemId(artist.id)"
    >
      <img
        [src]="artist.images[1].url"
        alt="artist image"
        class="w-full h-card-img-h rounded-full"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ artist.name }}
        </p>
        <p class="text-spotify-gray text-sm capitalize">Artist</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'album'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
      (click)="getItemId(album.id)"
    >
      <img
        [src]="album.images[1].url"
        alt="album image"
        class="w-full h-card-img-h"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ album.name }}
        </p>
        <p class="text-spotify-gray text-sm">
          <span>{{ album.release_date | date : "YYYY" }} .</span>
          <span class="hover:underline ml-1 capitalize">{{
            album.artists[0].name
          }}</span>
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'playlist'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
      (click)="getItemId(playlist.id)"
    >
      <img
        [src]="playlist.images[0].url"
        alt="playlist image"
        class="w-full h-card-img-h"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ playlist.name }}
        </p>
        <p class="text-spotify-gray truncate text-sm">
          <span>By</span>
          <span class="hover:underline ml-1 capitalize">{{
            playlist.owner.display_name
          }}</span>
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'show'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
      (click)="getItemId(show.id)"
    >
      <img
        [src]="show.images[1].url"
        alt="show image"
        class="w-full h-card-img-h"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ show.name }}
        </p>
        <p class="text-spotify-gray truncate text-sm capitalize">
          {{ show.publisher }}
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'episode'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
      (click)="getItemId(episode.id)"
    >
      <img
        [src]="episode.images[1].url"
        alt="episode image"
        class="w-full h-card-img-h"
      />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          {{ episode.name }}
        </p>
        <p class="text-spotify-gray truncate text-sm">
          <span>{{ episode.release_date | date : "MMM y" }}</span>
          <span class="mx-1">.</span>
          <span class="hover:underline"
            >{{ episode.duration_ms | millisecstoMIns }} Min</span
          >
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'category'">
    <div
      class="w-category-card-w h-category-card-h rounded-md relative overflow-hidden cursor-pointer"
      [ngStyle]="{ 'background-color': bgColor(category.name) }"
    >
      <p class="capitalize text-white px-card-p py-5 font-semibold text-xl">
        {{ category.name }}
      </p>
      <img
        [src]="category.icons[0].url"
        alt="category image"
        class="h-category-img-h w-24 rotate-20 absolute bottom-0 -right-4"
        loading="lazy"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'albumDetail'">
    <div
      class="h-album-container-h md:pl-7 md:relative w-full bg-gradient-to-b from-album-details-bg-t via-album-details-bg-c to-album-details-bg-b overflow-hidden"
    >
      <div
        class="flex flex-col py-4 md:py-0 items-center md:items-stretch md:flex-row md:space-x-album-space-x h-album-img-h text-white md:absolute md:bottom-6 w-full"
      >
        <img
          [src]="album.images[0].url"
          alt="album image"
          class="h-full w-album-img-w rounded-xl md:rounded-none"
        />
        <div
          class="flex flex-col items-center pt-2 md:pt-0 space-y-2 md:space-y-0 md:items-stretch md:relative"
        >
          <p class="text-xs md:mt-[2rem] md:mb-4 font-semibold">ALBUM</p>
          <h1
            class="text-xl lg:text-4xl font-semibold capitalize md:pb-3 md:pr-3 truncate ..."
          >
            {{ album.name }}
          </h1>
          <div
            class="flex flex-row h-6 items-center text-base space-x-2 md:absolute md:bottom-0"
          >
            <img
              [src]="album.images[1].url"
              alt="category image"
              class="w-6 h-full rounded-full"
            />
            <p
              class="capitalize flex flex-row items-center font-semibold hover:underline truncate ..."
            >
              {{ album.artists[0].name }} <span class="ml-2">.</span>
            </p>
            <p class="flex flex-row items-center space-x-2 truncate ...">
              {{ album.release_date | date : "YYYY"
              }}<span class="ml-2">.</span>
            </p>
            <p class="flex flex-row items-center space-x-2 truncate ...">
              {{ album.total_tracks }} <span class="ml-1">songs</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'showDetail'">
    <div
      class="h-album-container-h md:pl-7 md:relative w-full bg-gradient-to-b from-album-details-bg-t via-album-details-bg-c to-album-details-bg-b overflow-hidden"
    >
      <div
        class="flex flex-col py-4 md:py-0 items-center md:items-stretch md:flex-row md:space-x-album-space-x h-album-img-h text-white md:absolute md:bottom-6 w-full"
      >
        <img
          [src]="show.images[0].url"
          alt="album image"
          class="h-full w-album-img-w rounded-xl md:rounded-none"
        />
        <div
          class="flex flex-col items-center pt-2 md:pt-0 space-y-2 md:space-y-0 md:items-stretch md:relative"
        >
          <p class="text-xs md:mt-[2rem] md:mb-4 font-semibold">PODCAST</p>
          <h1
            class="text-lg md:text-2xl lg:text-4xl font-semibold capitalize md:pb-3 md:pr-3"
          >
            {{ show.name }}
          </h1>
          <div
            class="flex flex-row h-6 items-center text-base space-x-2 md:absolute md:bottom-0"
          >
            <p class="text-lg md:text-2xl font-semibold truncate ...">
              {{ show.publisher }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'episodeDetail'">
    <div
      class="h-album-container-h md:pl-7 md:relative w-full bg-gradient-to-b from-album-details-bg-t via-album-details-bg-c to-album-details-bg-b overflow-hidden"
    >
      <div
        class="flex flex-col py-4 md:py-0 items-center md:items-stretch md:flex-row md:space-x-album-space-x h-album-img-h text-white md:absolute md:bottom-6 w-full"
      >
        <img
          [src]="episode.images[0].url"
          alt="album image"
          class="h-full w-album-img-w rounded-xl md:rounded-none"
        />
        <div
          class="flex flex-col items-center pt-2 md:pt-0 space-y-2 md:space-y-0 md:items-stretch md:relative"
        >
          <p class="text-xs md:mt-[2rem] md:mb-4 font-semibold">
            PODCAST EPISODE
          </p>
          <h1
            class="text-lg md:text-2xl lg:text-4xl font-semibold capitalize md:pb-3 md:pr-3"
          >
            {{ episode.name }}
          </h1>
          <div
            class="flex flex-row h-6 items-center text-base space-x-2 md:absolute md:bottom-0"
          >
            <p class="text-lg md:text-2xl font-semibold truncate ...">
              {{ episode.show.name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'episodeShowDetail'">
    <div
      class="h-episode-h px-4 py-4 w-full bg-transparent rounded-md hover:bg-card-hovered cursor-pointer overflow-hidden"
      (click)="getItemId(episode.id)"
    >
      <div class="flex flex-row space-x-5 text-white">
        <img
          [src]="episode.images[1].url"
          alt="album image"
          class="h-28 w-28"
        />
        <div class="flex flex-col space-y-2 pb-4">
          <h1 class="text-white text-base font-semibold hover:underline truncate ...">
            {{ episode.name }}
          </h1>
          <p
            class="text-sm text-spotify-gray tracking-wide h-20 overflow-hidden text-ellipsis ..."
          >
            {{ episode.description }}
          </p>
          <p class="text-spotify-gray text-sm">
            <span>{{ episode.release_date | date }}</span>
            <span class="mx-1">.</span>
            <span class="hover:underline"
              >{{ episode.duration_ms | millisecstoMIns }} Min</span
            >
          </p>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'playlistDetail'">
    <div
      class="h-album-container-h md:pl-7 md:relative w-full bg-gradient-to-b from-album-details-bg-t via-album-details-bg-c to-album-details-bg-b overflow-hidden"
    >
      <div
        class="flex flex-col py-4 md:py-0 items-center md:items-stretch md:flex-row md:space-x-album-space-x h-album-img-h text-white md:absolute md:bottom-6 w-full"
      >
        <img
          [src]="playlist.images[0].url"
          alt="album image"
          class="h-full w-album-img-w rounded-xl md:rounded-none"
        />
        <div
          class="flex flex-col items-center pt-2 md:pt-0 space-y-2 md:space-y-0 md:items-stretch md:relative"
        >
          <p class="text-xs md:mt-[2rem] md:mb-4 font-semibold">PLAYLIST</p>
          <h1
            class="text-xl lg:text-4xl font-semibold capitalize md:pb-3 md:pr-3 truncate ..."
          >
            {{ playlist.name }}
          </h1>
          <div
            class="flex flex-row h-6 items-center text-base space-x-2 md:absolute md:bottom-0"
          >
            <p
              class="capitalize flex flex-row items-center font-semibold truncate ..."
            >
              {{ playlist.owner.display_name }} <span class="ml-2">.</span>
            </p>
            <p class="flex flex-row items-center space-x-2 truncate ...">
              {{ playlist.followers.total | number }}
              <span class="ml-1">likes.</span>
            </p>
            <p class="flex flex-row items-center space-x-2 truncate ...">
              {{ playlist.tracks.total }} <span class="ml-1">songs</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'artistDetail'">
    <div
      class="h-artist-container-h pt-[10.625rem] pl-7 text-white"
      [ngStyle]="{
        'background-image': getBgImage(),
        'background-repeat': 'no-repeat',
        'background-size': 'cover',
        'background-position': 'center top 20%'
      }"
    >
      <div class="flex flex-row space-x-4 items-center mb-4">
        <img src="assets/verified.png" alt="verified image" class="w-6 h-6" />
        <p class="text-sm text-gray-50">Verified Artist</p>
      </div>
      <p class="text-8xl font-semibold overflow-hidden truncate ...">
        {{ artistDetails.name }}
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'likedSongs'">
    <div
      class="h-album-container-h md:pl-7 relative w-full bg-gradient-to-b from-liked-details-bg-t via-liked-details-bg-c to-liked-details-bg-b md:relative overflow-hidden"
    >
      <div
        class="flex flex-col py-4 md:py-0 items-center md:items-stretch md:flex-row md:space-x-album-space-x md:h-album-img-h text-white md:absolute md:bottom-6 w-full"
      >
        <div
          class="h-album-img-h md:h-full w-album-img-w bg-gradient-to-br from-liked-gradient-l to-liked-gradient-r flex flex-row items-center justify-center"
        >
          <app-icon variant="liked"></app-icon>
        </div>

        <div
          class="flex flex-col items-center pt-2 md:pt-0 space-y-2 md:space-y-0 md:items-stretch md:relative"
        >
          <p class="text-xs md:mt-[2rem] md:mb-4 font-semibold">PLAYLIST</p>
          <h1
            class="text-2xl md:text-4xl lg:text-8xl font-semibold capitalize overflow-hidden pb-3 truncate ..."
          >
            Liked songs
          </h1>
          <div
            class="flex flex-row h-6 items-center text-base space-x-2 md:absolute md:bottom-0"
          >
            <p
              class="flex flex-row items-center space-x-2"
              *ngIf="favoriteTracks === 1"
            >
              {{ favoriteTracks }} <span class="ml-1">song</span>
            </p>
            <p
              class="flex flex-row items-center space-x-2"
              *ngIf="favoriteTracks > 1"
            >
              {{ favoriteTracks }} <span class="ml-1">songs</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
