<div>
  <ng-container *ngIf="variant === 'artist'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
    >
      <img [src]="url" alt="" class="w-full h-card-img-h rounded-full" />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          Pop Smoke
        </p>
        <p class="text-spotify-gray text-sm capitalize">Artist</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'album'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
    >
      <img [src]="url" alt="" class="w-full h-card-img-h" />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          Murdered in my Mind till death
        </p>
        <p class="text-spotify-gray truncate text-sm">
          <span>2022 .</span>
          <span class="hover:underline ml-1 capitalize">Kordhell</span>
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'playlist'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
    >
      <img [src]="url" alt="" class="w-full h-card-img-h" />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          Murdered in my Mind till death
        </p>
        <p class="text-spotify-gray truncate text-sm">
          <span>By</span>
          <span class="hover:underline ml-1 capitalize">Kordhell</span>
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'show'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
    >
      <img [src]="url" alt="" class="w-full h-card-img-h" />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          Murdered in my Mind till death
        </p>
        <p class="text-spotify-gray truncate text-sm capitalize">Kordhell</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'episode'">
    <div
      class="flex flex-col w-card-w h-card-h p-card-p bg-spotify-primary-dark rounded-md hover:bg-card-hovered cursor-pointer"
    >
      <img [src]="url" alt="" class="w-full h-card-img-h" />
      <div class="mt-card-p flex flex-col space-y-2">
        <p class="text-white text-base capitalize font-semibold truncate">
          Murdered in my Mind till death
        </p>
        <p class="text-spotify-gray truncate text-sm">
          <span>Oct 2021</span>
          <span class="mx-1">.</span>
          <span class="hover:underline">128 Min</span>
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'category'">
    <div class="w-category-card-w h-category-card-h bg-[#E91429] rounded-md">
      <p class="capitalize text-white px-card-p py-6 font-semibold text-xl">
        kids & family
      </p>
    </div>
  </ng-container>
</div>
