<div>
  <ng-container *ngIf="variant === 'onPopular'">
    <div
      class="h-14 px-4 flex flex-row items-center w-full hover:bg-bg-border rounded justify-between"
    >
      <div class="flex flex-row space-x-4 h-10 items-center">
        <p class="text-spotify-gray">1</p>
        <img [src]="url" alt="artist image" class="h-full w-10" />
        <p class="text-white text-base">Baby Blue</p>
      </div>
      <div class="flex flex-row space-x-8 items-center">
        <button *ngIf="!favorite" (click)="addToFavorite()">
          <app-icon variant="heart"></app-icon>
        </button>
        <button *ngIf="favorite" (click)="removeFromFavorite()">
          <app-icon variant="heart-green"></app-icon>
        </button>

        <p class="text-spotify-gray text-base">2:38</p>
        <button>
          <app-icon variant="more-horizontal"></app-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>
