<div>
  <ng-container
    *ngIf="
      variant === 'onPopular' ||
      variant === 'onAlbum' ||
      variant === 'onSongs' ||
      variant === 'onSearch'
    "
  >
    <div
      class="h-14 px-4 flex flex-row items-center w-full hover:bg-bg-border rounded justify-between cursor-pointer"
      (mouseover)="mouseMovement(true)"
      (mouseleave)="mouseMovement(false)"
      (click)="getTrack(track)"
    >
      <!-- on Popular -->
      <div
        class="flex flex-row space-x-4 h-10 items-center"
        *ngIf="variant === 'onPopular'"
      >
        <div class="w-2 mr-1">
          <p class="text-spotify-gray text-base" *ngIf="!hovered">
            {{ index }}
          </p>
          <button *ngIf="hovered">
            <app-icon variant="play-white"></app-icon>
          </button>
        </div>
        <div class="flex flex-row items-center h-10 space-x-4">
          <img
            [src]="track.album.images[1].url"
            alt="artist image"
            class="h-full w-10"
          />
          <p class="text-white text-base">{{ track.name }}</p>
        </div>
      </div>

      <!-- on Album -->
      <div
        class="flex flex-row space-x-4 h-10 items-center"
        *ngIf="variant === 'onAlbum'"
      >
        <div class="w-2 mr-1">
          <p class="text-spotify-gray text-base" *ngIf="!hovered">
            {{ index }}
          </p>
          <button *ngIf="hovered">
            <app-icon variant="play-white"></app-icon>
          </button>
        </div>
        <div class="flex flex-col capitalize">
          <p class="text-white text-base">{{ track.name }}</p>
          <p class="text-spotify-gray text-sm" *ngIf="!track.artists[1]">
            {{ track.artists[0].name }}
          </p>
          <p
            *ngIf="track.artists[0] && track.artists[1]"
            class="text-spotify-gray text-sm"
          >
            {{ track.artists[0].name }}, {{ track.artists[1].name }}
          </p>
        </div>
      </div>

      <!-- on songs  -->
      <div
        class="flex flex-row space-x-4 h-10 items-center w-2/5"
        *ngIf="variant === 'onSongs'"
      >
        <div class="w-2 mr-1">
          <p class="text-spotify-gray text-base" *ngIf="!hovered">
            {{ index }}
          </p>
          <button *ngIf="hovered">
            <app-icon variant="play-white"></app-icon>
          </button>
        </div>
        <img
          [src]="track.album.images[1].url"
          alt="artist image"
          class="h-full w-10"
        />
        <div class="flex flex-col space-y-1">
          <p class="text-white text-base truncate ...">{{ track.name }}</p>
          <p class="text-spotify-gray text-sm truncate ...">{{ track.artists[0].name }}</p>
        </div>
      </div>
      <div *ngIf="variant === 'onSongs'" class=" w-2/5">
        <p class="capitalize text-spotify-gray text-sm text-center truncate ...">
          {{ track.album.name }}
        </p>
      </div>

      <!-- on search  -->
      <div
        class="flex flex-row space-x-4 h-10 items-center"
        *ngIf="variant === 'onSearch'"
      >
        <div class="h-10 relative">
          <img
            [src]="track.album.images[2].url"
            alt="artist image"
            class="h-full w-10"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-card-hovered opacity-50"
            *ngIf="hovered"
          ></div>

          <button *ngIf="hovered" class="absolute top-3 bottom-4 left-3">
            <app-icon variant="play-white"></app-icon>
          </button>
        </div>
        <div class="flex flex-col space-y-1">
          <p class="text-white text-base">{{ track.name }}</p>
          <p class="text-spotify-gray text-sm" *ngIf="!track.artists[1]">
            {{ track.artists[0].name }}
          </p>
          <p
            *ngIf="track.artists[0] && track.artists[1]"
            class="text-spotify-gray text-sm"
          >
            {{ track.artists[0].name }}, {{ track.artists[1].name }}
          </p>
        </div>
      </div>

      <!-- for all variants -->
      <div class="flex flex-row space-x-8 items-center w-1/5 justify-end">
        <button
          *ngIf="!favorite"
          (click)="addToFavorite(track)"
          [ngStyle]="{ visibility: hovered ? 'visible' : 'hidden' }"
        >
          <app-icon variant="heart"></app-icon>
        </button>
        <button *ngIf="favorite" (click)="removeFromFavorite(track)">
          <app-icon variant="heart-green"></app-icon>
        </button>
        <div class="flex flex-row space-x-3 items-center">
          <p class="text-spotify-gray text-sm">
            {{ track.duration_ms | millisecstoSecs }}
          </p>
          <button [ngStyle]="{ visibility: hovered ? 'visible' : 'hidden' }">
            <app-icon variant="more-horizontal"></app-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
