<div class="bg-black h-screen pt-6">
  <div class="px-5 pb-2">
    <img src="assets/spotify-logo.png" alt="spotify logo" class="w-3/4" />
  </div>

  <nav class="my-4 px-4 text-base">
    <ul class="flex flex-col space-y-1">
      <li>
        <a
          routerLink="dashboard"
          class="flex flex-row space-x-4 px-2 items-center py-1.5 text-spotify-gray hover:text-white stroke-spotify-gray hover:stroke-white focus:text-white focus:stroke-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-home"
          >
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <p>Home</p>
        </a>
      </li>
      <li>
        <a
          routerLink="dashboard"
          class="flex flex-row space-x-4 px-2 items-center py-1.5 text-spotify-gray hover:text-white stroke-spotify-gray hover:stroke-white focus:text-white focus:stroke-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-search"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
          <p>Search</p>
        </a>
      </li>
      <li>
        <a
          routerLink="dashboard"
          class="flex flex-row space-x-4 px-2 items-center py-1.5 text-spotify-gray hover:text-white stroke-spotify-gray hover:stroke-white focus:text-white focus:stroke-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-book"
          >
            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
            <path
              d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"
            ></path>
          </svg>
          <p>Your Library</p>
        </a>
      </li>
    </ul>
    <ul class="flex flex-col space-y-1 mt-7">
      <li>
        <a
          routerLink="dashboard"
          class="flex flex-row space-x-4 px-2 items-center py-1.5 text-spotify-gray hover:text-white stroke-black focus:text-white"
        >
          <div class="p-[2px] bg-white rounded-sm">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-plus"
            >
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
          </div>
          <p>Create Playlist</p>
        </a>
      </li>
      <li>
        <a
          routerLink="dashboard"
          class="flex flex-row space-x-4 px-2 items-center py-1.5 text-spotify-gray hover:text-white stroke-white fill-white focus:text-white"
        >
          <div
            class="p-[6px] bg-gradient-to-r from-indigo-700 to-white rounded-sm"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-heart"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </div>
          <p>Liked Songs</p>
        </a>
      </li>
    </ul>
    <div class=" bg-bg-border h-px mx-2 mt-4"></div>
  </nav>
</div>
