<div>
  <h1
    class="my-6 text-3xl text-primary-purple text-center lgxl:text-start lgxl:ml-8 font-semibold"
  >
    Tempo Base
  </h1>
  <div>
    <h2 class="text-lg text-dark-gray py-4 px-8 capitalize">Menu</h2>
    <nav>
      <ul>
        <li *ngFor="let item of menus">
          <a
            [routerLink]="item.link"
            class="flex flex-row space-x-4 px-8 items-center py-4 hover:bg-primary-purple hover:text-white
             focus:bg-primary-purple focus:text-white"
          >
            <img [src]="item.imageSrc" [alt]="item.name" />
            <p class="capitalize">{{ item.name }}</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="pt-4">
    <h2 class="text-lg text-dark-gray py-4 px-8 capitalize">Playlist</h2>
    <nav>
      <ul>
        <li *ngFor="let item of playlists">
          <a
            [routerLink]="item.link"
            class="flex flex-row space-x-4 px-8 items-center py-4 hover:bg-primary-purple hover:text-white"
          >
            <img [src]="item.imageSrc" [alt]="item.name" />
            <p class="capitalize">{{ item.name }}</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
